.container2 {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 500px 500px 500px 500px 600px;
    text-align: center;
    width: 100%;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin-bottom: 48px;
}

.aboutus_item_1 {
    /* background-color: black; */
        grid-column-start: 1;
        grid-column-end: 2;
    margin: 16px;
}

.aboutus_item_1 img {
    width: 500px;
    float: left;
}

.aboutus_item_2 {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 16px;
    text-align: left;
    float:left;
    /* background-color: green; */
}

.aboutus_item_3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
    margin: 16px;
    /* background-color: red; */
}

.aboutus_item_4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

    /* background-color: orange; */
}

.aboutus_item_4 img {
    width: 400px;
    float: right;
}

.aboutus_item_5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    /* background-color: #ebe8e8; */
  
}

.aboutus_item_6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;

}

.aboutus_item_6_1 {
    display: flex;
    flex-direction: row;
}

.aboutus_item_6_1 div {
    margin-top: 50px;
    margin-right: 16px;
    width: 300px;
    height: 250px;
    background-color: gray;

}

.aboutus_item_7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    text-align: left;
}

.aboutus_item_7 h1 {
    color: #4e63ff;

}

.aboutus_item_7_1 {
    display: flex;
    flex-direction: row;
}

.aboutus_item_7_1 div {
    width: 420px;
    height: 450px;
    margin-left: 16px;
    border-radius: 30px;
    border-color: black;

    background-color: antiquewhite;

}

.aboutus_item_7 Button {
    margin-left: 85px;
    margin-top: 430px;
    z-index: 2;
}