
.divider {
    color: white;
    type: dashed;
}


.footer {
    background-color: #000;
    padding: 30px 25px;
    color: white;
}

.top {
    justify-content: space-between;
    display: flex;
    margin: 35px 0;
    align-items: center;
}

.top .flex {
    gap: 35px;
    font-size: 20px;
}

.flex li {
    list-style-type: "|";
}

.flex {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;

}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    gap: 20px;
}

footer h3 {
    font-size: 28px;
    margin-bottom: 12px;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 12px;
    font-size: 23px;
}

footer p {
    margin-bottom: 12px;
    font-size: 18px;
}

footer input {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.cleaning-estimate h1 {
    font-size: 35px;
    margin-bottom: 30px;
}