.contactus {
    color: #dedede;
    width: 10%;
    float: left;
    margin: 50px;

}


.newsletter {
    color: #dedede;
    float: right;
}

.newsletter div {
    float: left;
    margin: 50px 350px 50px 50px;
}
