.ourservices-whole {
    width: 1920px;
    background-color: white;
    display: block;
    margin: auto;
    font-size: 20px;
}


.ourservices-body {
    display: grid;
    grid-template-rows: 1000px 1141px 760px;
    text-align: center;
    width: 90%;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    margin-top: 96px;
}

.ourservice_item_1 button {
    margin-left: 450px;

}

.ourservice_item_1 {
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: left;
    padding-left: 48px;
    padding-top: 220px;
}


.ourservice_item_2 {
    grid-column-start: 3;
    grid-column-end: 4;

}

.ourservice_item_2 img {
    width: 900px;
}

.ourservice_item_3 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

}

.ourservice_item_3 img {
    width: 900px;
}

.ourservice_item_4 {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    text-align: left;
    margin: 32px;
}

.ourservice_item_5 {

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    text-align: left;
    background-color: #ebe7e7;

}

.ourservice_item_5 div {
    display: flex;
    flex-direction: row;
}

.ourservice_item_5 div div {
    background-color: white;
    width: 444px;
    height: 150px;
    margin: 16px;

    flex-direction: column;
}
