
.contactParent {
    width: 1920px;
    background-color: white;
    display: block;
    margin: auto;
    font-size: 20px;
}

.contact {
    background-color: #ebe7e7;

    margin: 125px 20px 75px 350px;
    width: 1200px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact div h1 {
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Noto Serif CJK SC Light";
    width: 100%;
}

.contact div h2, .contact div div {
    margin-left: 50px;
    margin-top: 32px;
    width: 50%;
}

.contact iframe {
    margin-left: 50px;
}

.contact div h3 {
    margin-left: 50px;
    width: 200px;
    margin-top: 32px;
}

.sendMessage {
    background-color: gray;
    opacity: 90%;
    margin-top: -350px;
    margin-left: 100px;
    margin-right: 150px;
    border-radius: 30px;

}

.sendMessage Input, .sendMessage Textarea {
    display: flex;
    width: 300px;
    margin-left: 48px;
    margin-top: 26px;
}

.sendMessage button {
    margin-left: 145px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.contact div {
    width: 50%;
    text-align: left;
}

.newsletter {
    color: #dedede;
    float: right;
}

.newsletter div {
    float: left;
    margin: 50px 350px 50px 50px;
}
